{% block content %}
<h1>
    All Quotes
</h1>

<table style="border-collapse:collapse">
    <tr class="quotehdr">
        <th>
            ID
        </th>
        <th>
            Client Name
        </th>
        
        <th>
            Company
        </th>
        <th>
            Submitted
        </th>
        <th>
            Quote Price
        </th>
    </tr>
    {% for quote in all_quotes %}
        <tr class="quoterow {% cycle '' 'altrow' %}">
            <td>
                {{ quote.id }}
            </td>
            <td>
                {{ quote.name }}
            </td>
            <td>
                {{ quote.company }}
            </td>
            <td>
                {{ quote.submitted|date:"m-d-y" }}
            </td>
            <td>
                {{ quote.quotedate|date:"m-d-y"|default:"pending" }}
            </td>
            <td>
                {{ quote.quoteprice|default:"--" }}
            </td>
        </tr>
    {% endfor %}
</table>
{% endblock content %}
