<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>
            <b>
                Plum Homepage
            </b>
        </title>
    </head>
    
    <body>
        <h1>
            <b>
                We are Marvin Bi
            </b>
        </h1>
        <p>
            We will provide data-based solution to help you make money, save money and grow your business
        </p>
        <p></p>

        <h1>
            <b>
                Plans:
            </b>
        </h1>
        <p>
            Plans to suit your business. All Marvin plans cover business health diagnosis with flexibilty to customize your plan as you choose.
        </p>

        <h1>
            <b>
                Start-up plan: 
            </b>
        </h1>
        <p>
            Recommended for businesses n their early start-up.
        </p>
        <li>
            Market research
        </li>
        <li>
            Leads generation
        </li>
        <li>
            Data entry
        </li>
        <li>
            Business health diagnosis
        </li>
        <li>
            Price optimization
        </li>
        <li>
            Inventory management
        </li>

        <h1>
            <b>
                Small business plan:
            </b>
        </h1>
        <p>
            Recommended for growing small businesses
        </p>
        <li>
            Business intelligence
        </li>
        <li>
            Data opinion
        </li>
        <li>
            Business health diagnosis
        </li>

        <h1>
            <b>
                Large business plan:
            </b>
        </h1>
        <p>
            Recommended for established business of all sizes:
        </p>
        <li>
            Business intelligence
        </li>
        <li>
            Market research
        </li>
        <li>
            Information Technology (IT) outsourcing
        </li>
        <li>
            Data hosting
        </li>
        <li>
            Business health diagnosis
        </li>
</body>
</html>